<h3>Une nouvelle conférence a été ajoutée !</h3>

Salut {{ firstName }}, une nouvelle conférence a été ajoutée !

Le nom de cette conference est: {{ titleConf }}.

Nous t'invitons à te rendre sur le site pour en apprendre plus sur le sujet de cette conf'!
<a href=""></a>